
:root {
  --dark-bg-color: rgb(23, 23, 23); /* dark:bg-neutral-900 */
  --primary-color: #d97706; 
  --secondary-color: #4f4f4f;
  --btn-bg-color: var(--primary-color); 
  --btn-text-color: #fff;

  $font-size-base: clamp(0.8rem, 0.265vw + 0.721rem, 0.89rem);
  $font-size-xsm: clamp(0.563rem, 0.368vw + 0.452rem, 0.688rem);
  $font-size-sm: clamp(0.688rem, 0.551vw + 0.522rem, 0.875rem);
  $font-size-md: clamp(0.8rem, 0.657rem + 0.478vw, 0.963rem);
  $font-size-lg: clamp(0.938rem, 0.46vw + 0.8rem, 1.094rem);
  $font-size-xl: clamp(1.375rem, 0.735vw + 1.154rem, 1.625rem);
  $font-size-xxl: clamp(1.8rem, 1.478rem + 2.574vw, 2.4rem);
}

h1 {
	font-size: $font-size-xxl;
}

h2 {
	font-size: $font-size-xl;
}

h3 {
	font-size: $font-size-lg;
}

h4 {
	font-size: $font-size-md;
}

h5 {
	font-size: $font-size-sm;
	font-weight: 500;
}

h6 {
	font-size: $font-size-xsm;
}

p {
	font-size: $font-size-base;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

html.dark {
  /* background: #121212; */
  background: var(--dark-bg-color);
  color-scheme: dark;
}

:has(> .center) {
	display: flex;
	justify-content: center;
	align-items: center;

	.center {
		margin: 0 auto;
	}
}


